{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Prism Syntax Highlighting plugin for Craft CMS 3.x
 *
 * PrismSyntaxHighlightingField Field Input
 *
 * @author    Josh Smith <me@joshsmith.dev>
 * @copyright Copyright (c) 2019 Josh Smith <me@joshsmith.dev>
 * @link      https://www.joshsmith.dev
 * @package   PrismSyntaxHighlighting
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% set editorHeight = editorHeight * 21 %} {# This is horrible, do something about this... #}
{% if instructions is defined %}
	<div class="heading">
		<div class="instructions">
			<p>{{instructions}}</p>
		</div>
	</div>
{% endif %}

<div class="js--prism-syntax-highlighting {{field.getThemeName()}}">
	<pre spellcheck="false" style="min-height: {{editorHeight}}px;" class="js--prism-syntax-highlighting-editor prism-syntax-highlighter"><code style="tab-size: {{editorTabWidth}}; -moz-tab-size: {{editorTabWidth}}; min-height: {{editorHeight}}px;" class="{% if editorLanguageClass is defined %}{{editorLanguageClass}}{% endif %} {% if editorLineNumbers == '1' %}line-numbers{% endif %}" contenteditable>{% if value|length %}{{value}}{% endif %}</code></pre>

	{{ forms.textAreaField({
	        class: 'hidden js--prism-syntax-highlighting-textarea',
	        id: name,
	        name: name,
	        value: value})
	}}

</div>
